body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 400px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.text-content {
  padding: 7%;
  text-align: center;
}

.title {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 20px;
}

.text-content p.subtitle {
  color: #8a8a8a;
  margin-bottom: 25px;
}

.plan-box {
  background-color: hsl(225, 100%, 98%);
  border-radius: 12px;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}

.plan-box-left {
  display: flex;
  align-items: center;
  text-align: left;
}

.plan-box-left div {
  margin-left: 20px;
}

.plan-box-left div h5 {
  font-weight: 900;
  font-size: 15px;
  color: hsl(223, 47%, 23%);
}

.plan-box-left div p {
  font-size: 14px;
  color: #8a8a8a;
}

.plan-box a {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  transition: color 0.3s ease;
}

.plan-box a:hover {
  text-decoration: none;
  color: hsl(245, 75%, 52%);
}

a.proceed-btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: hsl(245, 75%, 52%);
  padding: 20px 0;
  border-radius: 12px;
  margin: 30px 0;
  transition: background-color 0.3s ease;
}

a.proceed-btn:hover {
  background-color: hsl(224, 23%, 55%);
}

a.cancel-btn {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  font-weight: 900;
  transition: color 0.3s ease;
}

a.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 425px) {

  .container {
    max-width: 87%;
  }

  .title {
    font-size: 23px;
  }

  div.plan-box {
    padding: 12px;
  }

  .plan-box-left div {
    margin-left: 10px;
  }

  a.proceed-btn,
  a.cancel-btn,
  .plan-box a {
    font-size: 13px;
  }

  .text-content {
    padding: 9% 7%;
  }
}

/* Youtube link */
.link {
  position: fixed;
  background-color: #d12322;
  padding: 23px 40px;
  right: -87px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.1s ease-in-out;
}

.link i {
  padding-left: 7px;
}

.link:hover {
  text-decoration: underline;
  background-color: black;
}
